<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Z-BLOG</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/JPG" th:href="@{${basePath}+'stage/assets/i/favicon.jpg'}" href="stage/assets/i/favicon.jpg">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" th:href="@{${basePath}+'stage/assets/i/favicon.jpg'}" href="stage/assets/i/favicon.jpg">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" th:href="@{${basePath}+'stage/assets/i/favicon.jpg'}" href="stage/assets/i/favicon.jpg">
  <meta name="msapplication-TileImage"  th:content="@{${basePath}+'stage/assets/i/favicon.jpg'}" content="stage/assets/i/favicon.jpg">
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link rel="stylesheet" th:href="@{${basePath}+'stage/assets/css/amazeui.min.css'}" href="stage/assets/css/amazeui.min.css">
  <link rel="stylesheet" th:href="@{${basePath}+'stage/assets/css/app.css'}" href="stage/assets/css/app.css">
  <link rel="stylesheet" th:href="@{${basePath}+'plug-in/bootstrap3.3.7/fonts/glyphicons-halflings-regular.woff'}" href="plug-in/bootstrap3.3.7/fonts/glyphicons-halflings-regular.woff" />
  <link rel="stylesheet" th:href="@{${basePath}+'plug-in/bootstrap3.3.7/css/bootstrap.min.css'}" href="plug-in/bootstrap3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" th:href="@{${basePath}+'plug-in/bootstrap3.3.7/css/bootstrap-theme.min.css'}" href="plug-in/bootstrap3.3.7/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" th:href="@{${basePath}+'plug-in/editor.md-master/css/editormd.min.css'}" href="plug-in/editor.md-master/css/editormd.min.css" />
  <link rel="stylesheet" th:href="@{${basePath}+'plug-in/bootstrap3.3.7/buttons.css'}" href="plug-in/bootstrap3.3.7/buttons.css">
  <link rel="stylesheet" th:href="@{${basePath}+'moudle/admin.css'}" href="moudle/admin.css">
    <link rel="stylesheet" href="moudle/mood/css/mood.css">   
</head>
<body id="blog" style="height: 100%; color: rgb(0, 0, 0); ">
<!-- <header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
	
    <div class="am-u-sm-8 am-u-sm-centered">
        <img width="200" src="https://www.aroad.xyz/source/img/favicon.png" alt="Amaze UI Logo"/>
        <h2 class="am-hide-sm-only">我似江潮来又去，君如鸥鹭逐波还</h2>
    </div>
</header>
<hr> -->
<!-- <div th:include="common/admin :: daoTop"></div> -->
<!-- <hr> -->
<div class="am-g am-g-fixed blog-fixed blog-content">
<div class="container">
		<!-- 标题 -->
		<div class="row">
		  <div class="col-md-12" style="height: 25px;margin-top: 10px;">
		  	<strong>文章相关 </strong>&nbsp; / &nbsp; <span >心情维护 </span>
		  </div>
		</div>
		
		<div  class="panel panel-default  panel-info " style="margin-top: 5px">
			<div class="panel-heading ">
				<h5 class="panel-title"><span class="glyphicon glyphicon-star-empty"></span> 心情列表
               <!--  <a  data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
	                <button type="button" class="btn btn-primary btn-sm ">
	            	<span class="glyphicon glyphicon-chevron-down"></span>展开/收起
	           		 </button></a> -->
           		 </h5>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in">
  			<div class="panel-body">
		<!-- 按钮 -->
		<div class="row">
			<div class="col-md-12">
				<form class="form-inline" id="queryForm">
					  <div class="form-group input-group-sm">
					    <label for="queryMoodTitle">心情名称</label>
					    <input type="text" name="queryMoodTitle" class="form-control" id="queryMoodTitle" placeholder="">
					  </div>
					   <div class="form-group input-group-sm">
					    <label for="queryMoodContent">心情内容</label>
					    <input type="text" name="queryMoodContent"  class="form-control" id="queryMoodContent" placeholder="">
					  </div> 
					   <button type="button" class="btn btn-primary btn-sm" id="query_handle"><span class="glyphicon glyphicon-search"></span>查询</button>
						 <button type="button" class="btn btn-primary btn-sm" id="query_delete_all"><span class="glyphicon glyphicon-remove"></span>清空条件</button>
					</form>
					
			</div>
		     <div class="col-md-12 " style="padding-top: 4px; padding-bottom: 4px">
		    	<button type="button" class="btn btn-danger btn-sm" id="mood_delete_all"><span class="glyphicon glyphicon-trash"></span>批量删除</button>
				<button type="button" class="btn btn-success btn-sm" id="mood_refresh"><span class="glyphicon glyphicon-refresh"></span>刷新</button>
				 
		    </div>
		</div>
		
		<!-- 表格数据 -->
		<div class="row  ">
			    <div class="col-md-12">
			    	<table id="data_table" class="table table-bordered table-hover" >
			    		<thead>
			    		<tr>
			    			<th><input type="checkbox" id="check_all"/></th>
			    			<th>编号</th>
			    			<th>心情标题</th>
			    			<th width="50%">心情内容</th>
			    			<th>新增时间</th>
			    			<th>操作</th>
			    		</tr>
			    		</thead>
			    		<tbody>
			    		</tbody>
			    	</table>
			    </div>
			</div>
			<!-- 分页 -->
			<div class="row">
			    <div class="col-md-6" id="page_info">
			    </div>
			    <div class="col-md-6" id="page_navi">
			    </div>
			</div>
			</div><!-- #collapseOne  end-->
		</div>
		</div>
	</div>
</div>
<hr>
<footer class="blog-footer">
    <!--  <div th:include="common/footer :: copy"></div> -->
    <!-- <div class="blog-text-center">© 2015 AllMobilize, Inc. Licensed under MIT license. Made with love By LWXYFER</div>     -->
</footer>
  <script th:src="@{${basePath}+'plug-in/fileinput/js/jquery-2.0.3.min.js'}"   src="plug-in/fileinput/js/jquery-2.0.3.min.js"></script>
  <script th:src="@{${basePath}+'plug-in/bootstrap3.3.7/js/bootstrap.min.js'}"  src="plug-in/bootstrap3.3.7/js/bootstrap.min.js"></script>
<!--   <script th:src="@{/stage/assets/js/amazeui.min.js}"></script> -->
<script type="text/javascript">
	var totalPage ;//总页数，也可以使用总记录数
	var currPageNum ;//总页数，也可以使用总记录数
	//1页面加载完成后发ajax
	$(function(){
		to_page(1);
		
		//点击小图片，显示表情
		$(".bq").click(function (e) {
			$(".face").slideDown(); //慢慢向下展开
			e.stopPropagation(); //阻止冒泡事件
		});

		//在桌面任意地方点击，关闭表情框
		$(document).click(function () {
			$(".face").slideUp(); //慢慢向上收
		});

		//点击小图标时，添加功能
		$(".face ul li").click(function () {
			var simg = $(this).find("img").clone();
			$(".message").append(simg); //将表情添加到输入框
			var tmp = $("#input_moodContent").val();
			$("#input_moodContent").append(tmp).append(simg);
		});
	});
	
	function to_page(pn){
		//var query = $("#queryForm").serializeArray();
		var query = getQueryForm();
		var pageNum = $(".page_size_change").children('option:selected').val();
		if(undefined==pageNum){
			pageNum = 5;
		}
		$.ajax({
			url:"moodsAjax",
			data:"pn="+pn+"&pageNum="+pageNum+query,
			type:"POST",
			success:function(result){
				//清空数据
				clear_table();
				//1解析并显示数据
				build_data_table(result);
				//2解析并显示分页
				build_page_info(result);
				//2解析并显示分页导航
				build_page_navi(result);
			}
		});
	}
	//解析显示数据
	function build_data_table(result){
		
		var data = result.extend.pageInfo.list;
		//console.log(data);
		$.each(data,function(index,item){
			//alert(" item"+item.empName);
			var checkBox = $("<td></td>").append($("<input type=\"checkbox\"/>").addClass("check_item"));
			var IdTD = $("<td></td>").append(item.id);
			var moodTitleTD = $("<td></td>").append(item.moodTitle);
			var moodContentTD = $("<td></td>").append(item.moodContent);
			var moodDateTD = $("<td></td>").append(item.moodDate);
			
			var delBtn = $("<button></button>").addClass("btn btn-danger btn-xs del_btn")
						.append($("<span></span>").addClass("glyphicon glyphicon-trash")).append("删除");
			delBtn.attr("del-id",item.id);
			
			var opt = $("<td></td>").append(" ").append(delBtn);
			var trObj =  $("<tr></tr>").append(checkBox).append(IdTD).append(moodTitleTD).append(moodContentTD)
						.append(moodDateTD)
						.append(opt);
			trObj.appendTo("#data_table tbody");
		});
	}
	

	function clear_table(){
		$("#data_table tbody").empty();
		$("#page_info").empty();
		$("#page_navi").empty();
	}
	
	//解析显示分页信息
	function build_page_info(result){
		var pageInfo = result.extend.pageInfo;
		totalPage = pageInfo.pages;
		currPageNum = pageInfo.pageNum;
		var pageSize = pageInfo.navigatePages;
		var select = $("<select></select>");//.addClass("form-control");
		for(var i = 1 ;i<5 ;i ++){
			if( (i*5) == pageSize){
				select.append($("<option selected=\"selected\">"+(i*5)+"</option>"));
			}else{
				select.append($("<option>"+(i*10)+"</option>"));
			}
		}
		select.addClass("page_size_change");
		$("#page_info").append("当前第 "+pageInfo.pageNum +" 页，总 "+pageInfo.pages+"页，总 "+pageInfo.total+"条记录");
		$("#page_info").append(",每页显示").append(select).append("条");
	}
	
	//解析显示分页条
	function build_page_navi(result){
		var pageInfo = result.extend.pageInfo
		var ulObj = $("<ul></ul>").addClass("pagination pagination-sm");
		//首页
		var firstli = $("<li></li>").append($("<a></a>").append("首页").attr("href","#"));
		//前一页
		var preli = $("<li></li>").append($("<a></a>").append("&laquo;").attr("href","#"));
		if(!pageInfo.hasPreviousPage){
			firstli.addClass("disabled");
			preli.addClass("disabled");
		}else{
			firstli.click(function(){
				to_page(1);
			});
			preli.click(function(){
				to_page(pageInfo.pageNum-1);
			});
		}
		//后一页
		var nextli = $("<li></li>").append($("<a></a>").append("&raquo;").attr("href","#"));
		//末页
		var lastli = $("<li></li>").append($("<a></a>").append("末页").attr("href","#"));
		if(!pageInfo.hasNextPage){
			nextli.addClass("disabled");
			lastli.addClass("disabled");
		}else{
			nextli.click(function(){
				to_page(pageInfo.pageNum+1);
			});
			lastli.click(function(){
				to_page(pageInfo.pages);
			});
		}
		
		//组装
		ulObj.append(firstli).append(preli);
		var pages = result.extend.pageInfo.navigatepageNums;
		$.each(pages,function(index,item){
			var numli = $("<li></li>").append($("<a></a>").append(item).attr("href","#"));
			if(item==pageInfo.pageNum){
				numli.addClass("active");
			}
			numli.click(function(){
				to_page(item);
			});
			ulObj.append(numli);
		});
		ulObj.append(nextli).append(lastli);
		//把ul放入nav元素
		var navEle = $("<nav></nav>").append(ulObj);
		//把nav元素放入$("#page_navi")
		navEle.appendTo("#page_navi");
	}
	

	$(document).on("click", ".del_btn",function(){
		//弹出确认框
		var name = $(this).parents("tr").find("td:eq(2)").text();
		var  picId = $(this).attr("del-id");
		if(confirm("确认删除【"+name+" 】吗?")){
			del_handle(picId);
		}
	});
	
	
	function del_handle(ids){
		$.ajax({
			url:"delMood/"+ids,
			//data:"ids="+ids,
			type:"DELETE",
			success:function(result){
				if(result.success){
					AlertModal("success",result.msg);
				}else{
					AlertModal("error",result.msg);
				}
				to_page(currPageNum);
				$("#check_all").prop("checked",false);
			}
		});
	}
	$("#check_all").click(function(){
		//atrr获取checked是undefined
		//attr读取自定义属性的值
		//prop修改读取DOM原生属性的值
		//$(this).prop("checked");
		$(".check_item").prop("checked",$(this).prop("checked"));
	});
	
	$(document).on("click",".check_item",function(){
		//alert($(".check_item:checked").length +" ---"+$(".check_item").length);
		var flag =$(".check_item:checked").length == $(".check_item").length ;
		$("#check_all").prop("checked",flag);
	});
	
	$("#mood_delete_all").click(function(){
		var moodNames = "";
		var ids = "";
		$.each($(".check_item:checked"),function(){
			//找第三个
			moodNames += $(this).parents("tr").find("td:eq(3)").text()+",";
			ids += $(this).parents("tr").find("td:eq(1)").text()+",";
		});
		moodNames = moodNames.length>1 ? moodNames.substring(0,moodNames.length-1) :moodNames ;
		if(ids==""){
			AlertModal("warning","请选择要删除的记录");
			return false;
		}
		if(confirm("确认批量删除【"+moodNames+" 】吗?")){
			del_handle(ids);
		}
		
	});
	
	$("#mood_refresh").click(function(){
		window.location.reload(true);
	});
	
	$("#query_handle").click(function(){
		to_page(1);
	});
	
	$("#query_delete_all").click(function(){
		$("#queryForm")[0].reset();
		$("#queryMoodTitle").val("");
		$("#queryMoodContent").val("");
	});

	
	var tmpSize = 5 ;
	$(document).on("change",".page_size_change",function(){
		var p1 =$(this).children('option:selected').val();//这就是selected的值 
		if(p1!=tmpSize){
			tmpSize = p1;
			to_page(1);
		}
	});
	
	function getQueryForm(){
		var query = "";
		var title = $("#queryMoodTitle").val();
		var content = $("#queryMoodContent").val();
		if(title!=null && title!=""){
			query += "&moodTitle="+title ;
		}
		if(content!=null && content!=""){
			query += "&moodContent="+content ;
		}
		return query ;
	}

</script>
<div th:include="common/message :: msg"></div> 
</body>
</html>