<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="adminFoot">
			<div id="copyRight" class=" " style="height: 50px;">
            	<div class="blog-text-center">  <br/></div> 
            	<div class="blog-text-center">&copy; 2019.Made By <a href="http://amazeui.org/" target="_blank">AmazeUI</a> template from lw <br/></div>
            	<div class="blog-text-center">  <br/></div> 
            </div>
        </div>
    </body>
</html>