<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>ZH-BLOG 心情</title>
  <link rel="icon" type="image/jpg" href="stage/assets/i/favicon.jpg">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="stage/assets/i/favicon.jpg">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="stage/assets/i/favicon.jpg">
  <meta name="msapplication-TileImage" content="stage/assets/i/favicon.jpg">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link type="text/css" rel="stylesheet" href="plug-in/bootstrap3.3.7/fonts/glyphicons-halflings-regular.woff" />
  <link type="text/css" rel="stylesheet" href="stage/assets/css/amazeui.css">
  <link type="text/css" rel="stylesheet" href="stage/assets/css/app.css">
  <link type="text/css" rel="stylesheet" href="plug-in/bootstrap3.3.7/css/bootstrap.css" />
  <link type="text/css" rel="stylesheet" href="plug-in/mCustomScrollbar3.1.5/jquery.mCustomScrollbar.css" />
  <link type="text/css" rel="stylesheet" href="moudle/home.css" /> 
  <link type="text/css" rel="stylesheet" href="moudle/mood/css/mood.css">   
</head>

<body id="blog" style="height: 100%; color: rgb(0, 0, 0);">

<!-- <div class=" touming" th:include="common/topfix :: daoFixTop"></div> -->
 <div th:include="common/daohang :: daoTop"></div>
 
<div th:include="common/header :: headerTop"></div>

<!-- <div th:include="common/daohang :: daoTop"></div> -->

<div class="container divLine"> 
</div>

<div class="container">
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed ">
	<div  class="am-u-md-8 am-u-sm-12 blog-sidebar">
		
		<div id="bestlist" class="am-u-md-12 am-u-sm-12  blog-bor  ">
		<h3 class="blog-text-center blog-title"><span>心情</span></h3>
		<!-- <hr> -->
		<div id="qq" hidden="true"> 
	   <p>有什么新鲜事想告诉大家?</p> 
	   <div class="message" contenteditable="true"></div> 
	   <div class="But"> 
	    <img src="moudle/mood/images/bba_thumb.gif" class="bq"> 
	    <span class="submit">发表</span> 
	    <!--face begin--> 
	    <div class="face"> 
	     <ul> 
	      <li><img src="moudle/mood/images/smilea_thumb.gif" title="呵呵]"></li> 
	      <li><img src="moudle/mood/images/tootha_thumb.gif" title="嘻嘻]"></li> 
	      <li><img src="moudle/mood/images/laugh.gif" title="[哈哈]"></li> 
	      <li><img src="moudle/mood/images/tza_thumb.gif" title="[可爱]"></li> 
	      <li><img src="moudle/mood/images/kl_thumb.gif" title="[可怜]"></li> 
	      <li><img src="moudle/mood/images/kbsa_thumb.gif" title="[挖鼻屎]"></li> 
	      <li><img src="moudle/mood/images/cj_thumb.gif" title="[吃惊]"></li> 
	      <li><img src="moudle/mood/images/shamea_thumb.gif" title="[害羞]"></li> 
	      <li><img src="moudle/mood/images/zy_thumb.gif" title="[挤眼]"></li> 
	      <li><img src="moudle/mood/images/bz_thumb.gif" title="[闭嘴]"></li> 
	      <li><img src="moudle/mood/images/bs2_thumb.gif" title="[鄙视]"></li> 
	      <li><img src="moudle/mood/images/lovea_thumb.gif" title="[爱你]"></li> 
	      <li><img src="moudle/mood/images/sada_thumb.gif" title="[泪]"></li> 
	      <li><img src="moudle/mood/images/heia_thumb.gif" title="[偷笑]"></li> 
	      <li><img src="moudle/mood/images/qq_thumb.gif" title="[亲亲]"></li> 
	      <li><img src="moudle/mood/images/sb_thumb.gif" title="[生病]"></li> 
	      <li><img src="moudle/mood/images/mb_thumb.gif" title="[太开心]"></li> 
	      <li><img src="moudle/mood/images/ldln_thumb.gif" title="[懒得理你]"></li> 
	      <li><img src="moudle/mood/images/yhh_thumb.gif" title="[右哼哼]"></li> 
	      <li><img src="moudle/mood/images/zhh_thumb.gif" title="[左哼哼]"></li> 
	      <li><img src="moudle/mood/images/x_thumb.gif" title="[嘘]"></li> 
	      <li><img src="moudle/mood/images/cry.gif" title="[衰]"></li> 
	      <li><img src="moudle/mood/images/wq_thumb.gif" title="[委屈]"></li> 
	      <li><img src="moudle/mood/images/t_thumb.gif" title="[吐]"></li> 
	      <li><img src="moudle/mood/images/k_thumb.gif" title="[打哈气]"></li> 
	      <li><img src="moudle/mood/images/bba_thumb.gif" title="[抱抱]"></li> 
	      <li><img src="moudle/mood/images/angrya_thumb.gif" title="[怒]"></li> 
	      <li><img src="moudle/mood/images/yw_thumb.gif" title="[疑问]"></li> 
	      <li><img src="moudle/mood/images/cza_thumb.gif" title="[馋嘴]"></li> 
	      <li><img src="moudle/mood/images/88_thumb.gif" title="[拜拜]"></li> 
	      <li><img src="moudle/mood/images/sk_thumb.gif" title="[思考]"></li> 
	      <li><img src="moudle/mood/images/sweata_thumb.gif" title="[汗]"></li> 
	      <li><img src="moudle/mood/images/sleepya_thumb.gif" title="[困]"></li> 
	      <li><img src="moudle/mood/images/sleepa_thumb.gif" title="[睡觉]"></li> 
	      <li><img src="moudle/mood/images/money_thumb.gif" title="[钱]"></li> 
	      <li><img src="moudle/mood/images/sw_thumb.gif" title="[失望]"></li> 
	      <li><img src="moudle/mood/images/cool_thumb.gif" title="[酷]"></li> 
	      <li><img src="moudle/mood/images/hsa_thumb.gif" title="[花心]"></li> 
	      <li><img src="moudle/mood/images/hatea_thumb.gif" title="[哼]"></li> 
	      <li><img src="moudle/mood/images/gza_thumb.gif" title="[鼓掌]"></li> 
	      <li><img src="moudle/mood/images/dizzya_thumb.gif" title="[晕]"></li> 
	      <li><img src="moudle/mood/images/bs_thumb.gif" title="[悲伤]"></li> 
	      <li><img src="moudle/mood/images/crazya_thumb.gif" title="[抓狂]"></li> 
	      <li><img src="moudle/mood/images/h_thumb.gif" title="[黑线]"></li> 
	      <li><img src="moudle/mood/images/yx_thumb.gif" title="[阴险]"></li> 
	      <li><img src="moudle/mood/images/nm_thumb.gif" title="[怒骂]"></li> 
	      <li><img src="moudle/mood/images/hearta_thumb.gif" title="[心]"></li> 
	      <li><img src="moudle/mood/images/unheart.gif" title="[伤心]"></li> 
	      <li><img src="moudle/mood/images/pig.gif" title="[猪头]"></li> 
	      <li><img src="moudle/mood/images/ok_thumb.gif" title="[ok]"></li> 
	      <li><img src="moudle/mood/images/ye_thumb.gif" title="[耶]"></li> 
	      <li><img src="moudle/mood/images/good_thumb.gif" title="[good]"></li> 
	      <li><img src="moudle/mood/images/no_thumb.gif" title="[不要]"></li> 
	      <li><img src="moudle/mood/images/z2_thumb.gif" title="[赞]"></li> 
	      <li><img src="moudle/mood/images/come_thumb.gif" title="[来]"></li> 
	      <li><img src="moudle/mood/images/sad_thumb.gif" title="[弱]"></li> 
	      <li><img src="moudle/mood/images/lazu_thumb.gif" title="[蜡烛]"></li> 
	      <li><img src="moudle/mood/images/clock_thumb.gif" title="[钟]"></li> 
	      <li><img src="moudle/mood/images/cake.gif" title="[蛋糕]"></li> 
	      <li><img src="moudle/mood/images/m_thumb.gif" title="[话筒]"></li> 
	      <li><img src="moudle/mood/images/weijin_thumb.gif" title="[围脖]"></li> 
	      <li><img src="moudle/mood/images/lxhzhuanfa_thumb.gif" title="[转发]"></li> 
	      <li><img src="moudle/mood/images/lxhluguo_thumb.gif" title="[路过这儿]"></li> 
	      <li><img src="moudle/mood/images/bofubianlian_thumb.gif" title="[bofu变脸]"></li> 
	      <li><img src="moudle/mood/images/gbzkun_thumb.gif" title="[gbz困]"></li> 
	      <li><img src="moudle/mood/images/boboshengmenqi_thumb.gif" title="[生闷气]"></li> 
	      <li><img src="moudle/mood/images/chn_buyaoya_thumb.gif" title="[不要啊]"></li> 
	      <li><img src="moudle/mood/images/daxiongleibenxiong_thumb.gif" title="[dx泪奔]"></li> 
	      <li><img src="moudle/mood/images/cat_yunqizhong_thumb.gif" title="[运气中]"></li> 
	      <li><img src="moudle/mood/images/youqian_thumb.gif" title="[有钱]"></li> 
	     </ul> 
	    </div> 
	    <!--face end--> 
	   </div> 
	  </div> 
	  <!--qq end--> 
	  <!--msgCon begin--> 
	  <div class="msgCon">
	  
	  	<div class='msgBox  vcard  avatar'  th:each="mood,modStat : ${moodList}" th:class="'msgBox  bg-'+${modStat.index%20}">
			<div class="headUrl">
					<img src='moudle/mood/images/tx_zxc.png' width='50' height='50'/>
						<div>
							<span class="title" th:text="${mood.moodTitle}">标题</span>
							<span class="time" th:text="${mood.moodDate}">2019-01-01</span>
						</div>
						<a th:id="${mood.id}" class="like" title="喜欢"><i class="am-icon-heart heart-bg"></i>（<span th:id="'like_count'+${mood.id}" th:text="${mood.moodLike}">0</span>）</a>
			</div>
			<div class='msgTxt' th:utext="${mood.moodContent}">
			</div>
		 </div>
		 
	  </div>
	</div>
  </div>
  <div id="ceiBianLan"  class="am-u-md-4 am-u-sm-12 blog-sidebar">
   		 <div class="blog-sidebar-widget blog-bor">
            <h3 class="blog-text-center blog-title"><span>关于我</span></h3>
            <img src="stage/assets/i/f14.jpg" th:src="${blogUser.localImgUrl}" alt="about me" class="blog-entry-img" >
            <h4><b><span th:text="${blogUser.realName}"></span></b></h4>
            <p id="about-me" class="blog-entry-article" th:text="${blogUser.personalBrief}"></p>
        </div>

        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h3 class="blog-text-center blog-title"><span>联系方式</span></h3>
            <!-- <img alt="" src=""> -->
            <ul  class="  lianxi">
                <li><a th:href="${blogUser.qqAcct}" th:title="${blogUser.qqAcct}" target="_blank"><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span>QQ:<span th:text="${blogUser.qqAcct}"></span> </a></li>
                <li><a th:href="${blogUser.gitBlogUrl}" th:title="Git" target="_blank"><span class="am-icon-github am-icon-fw blog-icon"></span> <span  >GitHub</span></a></li>
                <li><a th:href="${blogUser.WbAcct}" th:title="微博" target="_blank"><span class="am-icon-weibo am-icon-fw blog-icon"></span> <span>微博</span></a></li>
                <li><a th:href="${blogUser.WbAcct}"><span class="am-icon-reddit am-icon-fw blog-icon"></span> <span  >空间</span></a></li>
                <li><a href="" th:title="微信公众号"><span class="am-icon-weixin am-icon-fw blog-icon"></span> <span >微信公众号</span></a> </li>
            </ul>
        </div>
        
        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h3 class="blog-title"><span>标签云</span></h3>
            <div class="am-u-sm-12 blog-clear-padding cloud">
            	<ul >
            		<li th:each="tag,tagStat : ${tagList}"><a href=""  ><span th:text="${tag.tagName}"></span></a></li>
            	</ul>
            </div>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h3 class="blog-title"><span>心情</span></h3>
            <ul class="am-list">
            	<li th:each="mood,modStat : ${moodList}">
            		<a href="mood"><span th:utext="${mood.moodContent}"></span></a>
            	</li> 
            </ul>
        </div>
        <div class="blog-sidebar-widget blog-bor ">
            <h3 class="blog-title"><span>友情链接</span></h3>
            <ul class="am-list" id="youQingLink">
            	<li th:each="link, oStat : ${linkList}">
            		<a href="#"><span th:utext="${link.linkName}"></span></a>
            	</li> 
            </ul>
        </div>
    </div>
</div>
<!-- content end -->
</div>

<footer class="blog-footer">
     <div th:include="common/footer :: copy"></div>
</footer>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="stage/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="plug-in/mCustomScrollbar3.1.5/js/minified/jquery.mousewheel-3.0.6.min.js"></script>
<script src="stage/assets/js/amazeui.min.js"></script>
<script src="plug-in/fileinput/js/jquery-2.0.3.min.js"></script>
<script src="plug-in/bootstrap3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
<script src="plug-in/mCustomScrollbar3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

<div th:include="common/message :: msg"></div>
<script src="moudle/js/main.js"></script>
<script src="moudle/js/tools.js"></script>
<script src="moudle/js/mood.js"></script>
<script type="text/javascript">
$("#mood").addClass("active");
//从缓存中获取数据并渲染
var msgBoxList = JSON.parse(window.localStorage.getItem('msgBoxList')) || [];
//innerHTMl(msgBoxList);

//点击小图片，显示表情
$(".bq").click(function (e) {
	$(".face").slideDown(); //慢慢向下展开
	e.stopPropagation(); //阻止冒泡事件
});

//在桌面任意地方点击，关闭表情框
$(document).click(function () {
	$(".face").slideUp(); //慢慢向上收
});

//点击小图标时，添加功能
$(".face ul li").click(function () {
	let simg = $(this).find("img").clone();
	$(".message").append(simg); //将表情添加到输入框
});

//点击发表按扭，发表内容
$("span.submit").click(function () {
	let txt = $(".message").html(); //获取输入框内容
	if (!txt) {
		$('.message').focus(); //自动获取焦点
		return;
	}
	let obj = {
		msg: txt
	}
	msgBoxList.unshift(obj) //添加到数组里
	window.localStorage.setItem('msgBoxList', JSON.stringify(msgBoxList)) //将数据保存到缓存
	innerHTMl([obj]) //渲染当前输入框内容
	$('.message').html('') // 清空输入框

});

//删除当前数据
 $("body").on('click', '.del', function () {
	let index = $(this).parent().parent().index();
	msgBoxList.splice(index, 1)
	window.localStorage.setItem('msgBoxList', JSON.stringify(msgBoxList)) //将数据保存到缓存
	$(this).parent().parent().remove()
})

//渲染html
function innerHTMl(List) {
	
	var times =getTime();
	List = List || []
	List.forEach(item => {
		var x = getRandNum();
		var str =
			`<div class='msgBox bg-${x}' >
				<div class="headUrl">
					<img src='moudle/mood/images/tx_zxc.png' width='50' height='50'/>
					<div>
						<span class="title">游客心情</span>
						<span class="time">${times}</span>
					</div>
					<a class="del">删除</a>
				</div>
				<div class='msgTxt'>
					${item.msg}
				</div>
			</div>`
		$(".msgCon").prepend(str);
	})
}
	</script> 
</body>
</html>