.spanstyle0{display: inline-block;
            color:#000;
            width:auto;
            /* width:85px;
            height:22px; */
            height:aut;
            background-color: rgb(246, 197, 119);
            margin-right:8px;
            padding: 3px 8px 3px 8px;
            font-size: 12px;
            text-align: center;
            line-height: 25px;
}

.spanstyle1{display: inline-block;
            color:#000;
            width:auto;
            /* width:85px;
            height:22px; */
            height:aut;
            background-color: rgb(206, 249, 117);
            margin-right:8px;
            padding: 3px 8px 3px 8px;
            font-size: 12px;
            text-align: center;
            line-height: 25px;
}
.spanstyle2{display: inline-block;
            color:#000;
            width:auto;
            height:aut;
            background-color: rgb(129, 223, 227) ;
            margin-right:8px;
            padding: 3px 8px 3px 8px;
            font-size: 12px;
            text-align: center;
            line-height: 25px;
}
.spanstyle3{display: inline-block;
            color:#000;
            width:auto;
            height:aut;
            background-color: rgb(129, 223, 227) ;
            margin-right:8px;
            padding: 3px 8px 3px 8px;
            font-size: 12px;
            text-align: center;
            line-height: 25px;
}
.spanstyle4{display: inline-block;
            color:#000;
            width:auto;
            height:aut;
            background-color: rgb(129, 223, 227) ;
            margin-right:8px;
            padding: 3px 8px 3px 8px;
            font-size: 12px;
            text-align: center;
            line-height: 25px;
}
.spanstyle5{display: inline-block;
            color:#000;
            width:auto;
            height:aut;
            background-color: rgb(129, 223, 227) ;
            margin-right:8px;
            padding: 3px 8px 3px 8px;
            font-size: 12px;
            text-align: center;
            line-height: 25px;
}
.spanstyle6{display: inline-block;
            color:#000;
            width:auto;
            height:aut;
            background-color: rgb(129, 223, 227) ;
            margin-right:8px;
            padding: 3px 8px 3px 8px;
            font-size: 12px;
            text-align: center;
            line-height: 25px;
}
.spanstyle7{display: inline-block;
            color:#000;
            width:auto;
            height:aut;
            background-color: rgb(129, 223, 227) ;
            margin-right:8px;
            padding: 3px 8px 3px 8px;
            font-size: 12px;
            text-align: center;
            line-height: 25px;
}
.spanstyle8{display: inline-block;
            color:#000;
            width:auto;
            height:aut;
            background-color: rgb(129, 223, 227) ;
            margin-right:8px;
            padding: 3px 8px 3px 8px;
            font-size: 12px;
            text-align: center;
            line-height: 25px;
}
.spanstyle9{display: inline-block;
            color:#000;
            width:auto;
            height:aut;
            background-color: rgb(129, 223, 227) ;
            margin-right:8px;
            padding: 3px 8px 3px 8px;
            font-size: 12px;
            text-align: center;
            line-height: 25px;
}            