<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="张小菜个人博客">
  <meta name="keywords" content="张小菜,博客">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>zhBlog-张小菜个人博客</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="stage/assets/i/favicon.jpg">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="stage/assets/i/favicon.jpg">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="ZH-BLOG"/>
  <link rel="apple-touch-icon-precomposed" href="stage/assets/i/favicon.jpg">
  <meta name="msapplication-TileImage" content="stage/assets/i/favicon.jpg">
  <meta name="msapplication-TileColor" content="#0e90d2"> 
  <link type="text/css" rel="stylesheet" href="plug-in/bootstrap3.3.7/css/bootstrap.css" />
  <link type="text/css" rel="stylesheet" href="plug-in/mCustomScrollbar3.1.5/jquery.mCustomScrollbar.css" />
  <link type="text/css" rel="stylesheet" href="moudle/simple/nav.css" />
  <link type="text/css" rel="stylesheet" href="moudle/simple/simple.css" />
</head>
<body id="blog" style="height: 100%; color: rgb(0, 0, 0); ">
<header>
	<div class="container">
		 <div class="dropdown">
		   <button class="dropbtn">&nbsp;&nbsp;主页&nbsp;&nbsp;</button>
		 </div>
		 <div class="dropdown">
		   <button class="dropbtn">&nbsp;JAVAWEB&nbsp;</button>
		   <div class="dropdown-content">
		    	<a href="#">SPRING</a>
		    	<a href="#">MYBATIS</a>
		    	<a href="#">HIBERNATE</a>
		   </div>
		 </div>
		 <div class="dropdown">
		   <button class="dropbtn">LINUX</button>
		   <div class="dropdown-content">
		    	<a href="#">Centos</a>
		    	<a href="#">Kali</a>
		   		<a href="#">Others</a>
		   </div>
		 </div>
		 <div class="dropdown">
		   <button class="dropbtn">DATABASE</button>
		   <div class="dropdown-content">
		    	<a href="#">SQL</a>
		    	<a href="#">MYSQL</a>
		   		<a href="#">DB2</a>
		   		<a href="#">ORICLE</a>
		   		<a href="#">NOSQL</a>
		   </div>
		 </div>
		 <div class="dropdown">
		   <button class="dropbtn">SERVERS</button>
		   <div class="dropdown-content">
		    	<a href="#">TOMCAT</a>
		    	<a href="#">WEBSPHERE</a>
		   		<a href="#">WEBLOGIC</a>
		   		<a href="#">ORICLE</a>
		   		<a href="#">NOSQL</a>
		   </div>
		 </div>
	</div>
</header>


</body>
</html>