
 *{ 
 	margin: 0px; 
 	padding: 0px; 
 } 
 body { 
 	/*
 	background: url("../images/bg.jpg") no-repeat fixed; 
 	*/
 } 
 #qq { 
 	/* width: 600px; */ /*宽*/ 
 	/* width: 600px; */ /*宽*/ 
 	height: 170px; /*高*/ 
	background: #fff; /*背景颜色*/ 
	margin: 10px auto 70px; 
	border-radius: 5px; /*Html5 圆角*/ 
} 

#qq p { 
	font-size: 12px; 
	color: #666; 
	font-family: "微软雅黑"; 
	line-height: 45px; 
	text-indent: 20px; 
} 

#qq .message { 
	/* width: 560px; height: 70px;  */
	margin: 0 auto; 
	overflow: hidden; 
	outline: none; 
	border: 1px solid #ddd; 
	padding: 8px; 
	box-sizing: border-box; 
	font-size: 14px; 
	-webkit-background-clip: text; 
	/* color: transparent;  */
	background-image: linear-gradient(to right, #778899 0%, #333 100%); /*粗细 风格 颜色*/ 
} 
#qq .But { 
	/* width: 560px; height: 35px;  */
	margin: 15px auto 0px; 
	position: relative; /*相对，参考对象*/ 
} 

#qq .But img.bq { 
	float: left; /*左浮动*/ 
} 
	
#qq .But span.submit { 
	width: 80px; height: 30px; 
	background: #ff8140; 
	display: block; float: right; /*右浮动*/ 
	line-height: 30px; border-radius: 5px; 
	cursor: pointer; /*手指*/ 
	color: #fff; font-size: 12px; 
	text-align: center; font-family: "微软雅黑"; 
} /*face begin*/ 

#qq .But .face { 
	/* width: 440px;  */
	background: #fff; 
	border: 1px solid #ddd; box-shadow: 0 0 12px #666; 
	position: absolute; /*绝对定位*/ top: 21px; left: 15px; display: none; /*隐藏*/ 
} 

#qq .But .face ul { 
	width: 100%; height: 100%; display: flex; 
	flex-wrap: wrap; padding: 8px; 
	box-sizing: border-box; 
} 

#qq .But .face ul li { 
	width: 30px; height: 30px; 
	list-style-type: none; 
	cursor: pointer; display: flex; 
	justify-content: center; 
	align-items: center; 
} 

/*msgCon begin*/
.msgCon {
	/* width: 600px; */
	margin: 0px auto;
	margin-bottom: 60px;
}

.msgCon .msgBox {
	/*  使用自己的颜色 bg-n 需要注释 公有颜色*/
	/* background: #fff;  */
	padding: 10px;
	box-sizing: border-box;
	margin-top: 16px;
	border-radius: 4px;
	
	transition: all 1.8s;
}

.msgCon .msgBox .headUrl {
	width: 100%;
	height: 60px;
	border-bottom: 1px dotted #ddd;
	display: flex;
	align-items: center;
}

.msgCon .msgBox .headUrl img {
	width: 46px;
	height: 46px;
	border-radius: 50%
}

.msgCon .msgBox .headUrl div {
	flex: 1;
	display: flex;
	flex-flow: column;
	font-size: 16px;
	margin-left: 16px;
	-webkit-background-clip: text;
	color: transparent;
	background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
}

.msgCon .msgBox .headUrl div .title{
	font-weight: bold;
}

.msgCon .msgBox .headUrl div .time {
	/* font-size: 14px;
	margin-top: 6px; */
	font-size: 12px;
	margin-top: 0px;
	-webkit-background-clip: text;
	color: transparent;
	background-image: linear-gradient(to right, #27050f 0%, #9face6 100%);
}
@media screen and (max-width:345px){
	.msgCon .msgBox .headUrl div .time {
		display: none;
	}
}
.msgCon .msgBox .headUrl a {
	font-size: 14px;
	padding: 10px;
	color: salmon;
	cursor: pointer;
}

.msgCon .msgBox .msgTxt {
	font-size: 14px;
	color: #666;
	min-height: 40px;
	line-height: 24px;
	padding: 15px;
	box-sizing: border-box;
	word-wrap: break-word;
	-webkit-background-clip: text;
	color: transparent;
	background-image: linear-gradient(to right, #778899 0%, #333 100%);
	/* font-family: "微软雅黑";  */
	font-style: black;
}

.heart-bg{
	color: red;
}
.bg-0{
	background-color: #f3aaa9;
}
.bg-1{
	background-color: #90c5f0;
}
.bg-2{
	background-color: #AEDD81;
}
.bg-3{
	background-color: #FC9D99;
}
.bg-4{
	background-color: #00CCFF;
}

.bg-5{
	background-color: #84AF9B;
}

.bg-6{
	background-color: #EB7347;
}
.bg-7{
	background-color: #D0D0D0;
}
.bg-8{
	background-color: #7FDBFF;
}
.bg-9{
	background-color: #39CCCC;
}
.bg-10{
	background-color: #5eaeff;
}
.bg-11{
	background-color: #FFDC00;
}
.bg-12{
	background-color: #90c5f0;
}
.bg-13{
	background-color: #FFA500;
}
.bg-14{
	background-color: #6db700;
}
.bg-15{
	background-color: #00c4c4;
}
.bg-16{
	background-color: #cfff9f;
}
.bg-17{
	background-color: #ff7373;
}
.bg-18{
	background-color: #f25bee;
}
.bg-19{
	background-color: #EEEE00;
}
.bg-20{
	background-color: #62d8ff;
}

.msgCon .msgBox a:hover{
	text-decoration:none;
	//cursor: pointer;
	cursor: pointer;
}

.vcard .avatar{
float:left;width:64px;height:64px;margin:7px 10px 0 0;
padding:3px;border-radius:5px;border:1px solid #ddd;
transition:all .8s ease 0s
}

@-webkit-keyframes avatar{
16.65%{-webkit-transform:translateY(8px);transform:translateY(8px)}
33.3%{-webkit-transform:translateY(-6px);transform:translateY(-6px)}
49.95%{-webkit-transform:translateY(4px);transform:translateY(4px)}
66.6%{-webkit-transform:translateY(-2px);transform:translateY(-2px)}
83.25%{-webkit-transform:translateY(1px);transform:translateY(1px)}
100%{-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes avatar{
16.65%{-webkit-transform:translateY(8px);transform:translateY(8px)}
33.3%{-webkit-transform:translateY(-6px);transform:translateY(-6px)}
49.95%{-webkit-transform:translateY(4px);transform:translateY(4px)}
66.6%{-webkit-transform:translateY(-2px);transform:translateY(-2px)}
83.25%{-webkit-transform:translateY(1px);transform:translateY(1px)}
100%{-webkit-transform:translateY(0);transform:translateY(0)}
}

.msgBox:hover .avatar{
-webkit-animation-name:avatar;
animation-name:avatar;
-webkit-animation-duration:1s;
animation-duration:1s;
-webkit-animation-timing-function:ease-in-out;
animation-timing-function:ease-in-out;
-webkit-animation-iteration-count:1;
animation-iteration-count:1
}
